.place__title {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    font-size: 72px;
    line-height: 87%;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    color: #fff;
}

@media screen  and (max-width: 768px) {
    .place__title {
        font-size: 5.46vw;
        line-height: 90.5%;
    }
}

@media screen  and (max-width: 425px) {
    .place__title {
        font-size: 8.470vw;
        line-height: 90%;
    }
}

@media screen  and (max-width: 320px) {
        .place__title {
            font-size: 10vw;
        }
}