.photo-grid {
    display: grid;
    margin: 92px auto 0;
    max-width: 1184px;
    min-height: 671px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
    gap: 16px 16px;
}