.photo-grid {
    display: grid;
    margin: 92px 48px 0;
    min-width: 1184px;
    min-height: 671px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px 16px;
}