.place__text {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 640px){
    .place__text {
        max-width: 394px;
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
    }
}

@media screen and (max-width: 425px) {
    .place__text {
        max-width: 288px;
    }
}