.lead__title {
    width: 782px;
    text-align: center;
    margin: 0 auto;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 93.75%;
        font-size: 12.5vw;
        line-height: 12.1vw;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        width: 100%;
        font-size: 47px;
        line-height: 50px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
}