.cover__title {
    width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 87%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 9.375vw;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        width: 90%;
        font-size: 7.529vw;
        line-height: 90%;
    }
}



