.footer {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    margin: 92px auto 24px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 93.75%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: 91,764%;
        margin-top: 64px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 90%;
    }
}